// Dark mode colours
$dark-mode-background: #1E1E1E;
$dark-mode-card: #2C2C2C;
$dark-mode-purple: #8d3af1;

// Font sizes
$xs-font: 0.75rem;
$sm-font: 0.875rem;
$md-font: 1rem;
$l-font: 1.125rem;
$xl-font: 1.5rem;
$xxl-font: 4.75rem;

// Content Width
$content-width: 1600px;

// Breakpoints
$breakpoint-sm: 536px;
$breakpoint-md: 767px;
$breakpoint-l: 928px;
$breakpoint-xl: 1300px;
$breakpoint-max: 1600px;